@charset "utf-8";
/* CSS Document */
/*通用设置*/
html{
	overflow-x: hidden;
}
*{
	margin:0px auto;
	padding:0px;
	font-size:12px;
	list-style:none;
	font-family: 宋体;
	color:#522a06;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background:url(../images/bodybg.gif);}
a{
	color:#522a06;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
li{
	list-style:none;
	margin:0px;
	padding:0px;}
.clear{
	clear:both;
}


.header{
	width:100%;
	height:155px;
	background-image:url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position:center;}
	
.banner{
	width:1000px;
	height: 164px;
	margin:0px auto;
	}

.banner img{
	position:relative;
	top:38px;
	left:25px;
	}

.nav{
	height:40px;
	background:url(../images/nav.jpg);}
.nav_body{
	width: 1000px;
	margin:0px auto;
}
.nav_content{
	width:800px;
	font-weight:bolder;
	color:#FFF;
	float:left;
}
.nav_content ul li{
	width: 75px;
	float:left;
	line-height: 40px;
	height: 40px;
	color:#fff;
}
.nav_content ul li #jiedu{
	width: 100px;
}
.nav_content ul li #hudong{
	width: 120px;
}
.nav_content a{
	float:left;
	color:#FFF;
	width:65px;
	line-height:40px;
	font-weight:bold;
	text-align:center;}
.nav_content ul li a.shouye{
	color:#f9f603;
}
.nav_content a:hover{
	color:#f9f603;
	text-decoration:none;}
.nav_search{
	float: right;
	height: 40px;
	line-height: 40px;
}
.text{
	width: 140px;
	height: 19px;
	background:#f8f5cc;
}
.button{
	width: 44px;
	height: 21px;
	background: #000;
	color:#fff;
	border: 1px solid #f8f5cc;
}
<!--页面主体部分-->
#content{
	clear: both;
	background:url(../images/bg.jpg);
	background-repeat:repeat;
	/*width:1000px;
	margin:0px auto;*/}
#content_top{
	overflow:hidden;
	float: left;
	width:1000px;
	margin:0px auto;
	position: relative;
	left: 150px;
}
#news_pic{
	background:url(../images/news_bg.png);
	background-repeat:no-repeat;
	width:324px;
	height:243px;
	float:left;
	margin-top:15px;
	 overflow: hidden;}
#news_pic img{
	width: 300px;
	height: 200px;
	margin:10px;
}
#news_pic .news_pic_zi{
	width: 300px;
	height: 22px;
	position: relative;
	bottom:5px;
	text-align: center;
}
#news_list{
	width: 330px;
	float: left;
	margin-left: 38px;
}
#news_list span{
	float: right;
}
#news_list ul li{
	line-height: 30px;
	list-style-type:disc;
	list-style-position: inside;
}
#news_announce{
	width:277px;
	margin-top:20px;
	float:right;
}
#news_announce img{
	position: relative;
	left: 80px;
}
#news_announce ul{
	width: 285px;
	height: 210px;
	background: url("../images/board_bg.png");
}
#news_announce ul li{
	line-height: 30px;
	list-style-type:disc;
	list-style-position: inside;
}
.content_bottom1{
	width: 1000px;
	margin:0px auto;
}
#content_bottom_left1 img{
	width:715px;
	height: auto; 
	float:left;
}
#content_bottom_right1 img{
	width:280px;
	height: auto;
	float: right;
}
#content_bottom{
	width: 1000px;
	margin:0px auto;
}
#content_bottom_left{
	width: 715px;
	height: 200px;
	float:left;
}
#content_bottom_left #academic{
	width: 330px;
	height: 200px;
	float: left;
}
#content_bottom_left #academic_1{
	width: 330px;
	height: 45px;
	background: url("../images/academic.png");
	background-repeat: no-repeat;
	background-size: 330px 45px;
}
#content_bottom_left #academic span{
	float:right;
}
#content_bottom_left #academic li{
	line-height: 30px;
	list-style-type:disc;
	list-style-position: inside;
}
#content_bottom_left #book_news{
	width: 330px;
	height: 200px;
	float: left;
	margin-left: 38px;
}
#content_bottom_left div #book_news_1{
	width: 330px;
	height: 45px;
	background: url("../images/book_news.png");
	background-repeat: no-repeat;
	background-size: 330px 45px;
}
#content_bottom_left #book_news span{
	float:right;
}
#content_bottom_left #book_news li{
	line-height: 30px;
	list-style-type:disc;
	list-style-position: outside;
}
#content_bottom_left #fengcai{
	width: 700px;
	height: 200px;
	float: left;
}
#content_bottom_left #fengcai #imag{
	float:left;
	position: relative;
	top:55px;
	left: 45px;
}
#content_bottom_left #fengcai_1{
	width: 700px;
	height: 235px;
	background: url("../images/fengcai.png");
	background-repeat: no-repeat;
}
#content_bottom_left #fengcai span{
	float:right;
}
#content_bottom_left2 #jingdian{
	width: 330px;
	height: 200px;
	float: left;
	position: relative;
	bottom: 65px;
}
#content_bottom_left2 #jingdian_1{
	width: 330px;
	height: 30px;
	background: url("../images/jingdian.png");
	background-repeat: no-repeat;
	background-size: 330px 30px;
	position: relative;
	top: 20px;
}
#content_bottom_left2 #jingdian span{
	float:right;
}
#content_bottom_left2 #jingdian #s{
	position: relative;
	top: 8px;
}
#content_bottom_left2 #jingdian li{
	line-height: 30px;
	position: relative;
	top: 20px;
	list-style-type:disc;
	list-style-position: inside;
}
#content_bottom_left2 #jianyan{
	width: 330px;
	height: 200px;
	float: left;
	margin-left: 38px;
	position: relative;
	bottom: 65px;
}
#content_bottom_left2 #jianyan_1{
	width: 330px;
	height: 30px;
	background: url("../images/hudong.png");
	background-repeat: no-repeat;
	background-size: 330px 30px;
	position: relative;
	top: 20px;
}
#content_bottom_left2 #jianyan span{
	float:right;
}
#content_bottom_left2 #jianyan #sp{
	position: relative;
	top: 8px;
}
#content_bottom_left2 #jianyan li{
	line-height: 30px;
	position: relative;
	top: 20px;
	list-style-type:disc;
	list-style-position: inside;
}
#content_bottom_right{
	width:280px;
	/*height: 400px;*/
	margin-top:20px;
	margin:0px auto;
	float:right;
	margin-left:2px;
}
#content_bottom_right #tu{
	height: 28px;
	width: 300px;
	margin:0px auto;
}
#content_bottom_right #tu img{
	position: relative;
	left: 90px;
}
#content_bottom_right #neirong{
	width: 362px;
	height: 400px;
	background: url("../images/show_bg.png");
	background-repeat: no-repeat;
	background-size:280px 380px;
	margin:0px auto;
}
#content_bottom_right #neirong img{
	width: 224px;
	margin:0px aut0;
	position: relative;
	left: 30px;
	top:30px;
}
#content_bottom_right #neirong #zi{
	width: 224px;
	height: 200px;
	position: relative;
	top:33px;
	right: 38px;
}
#content_bottom_right #neirong p #ren{
	color: #f00;
	font-weight: bolder;
}
#content_bottom_right #ba{
	float:left;
	width: 280px;
	height: 40px;
	position: relative;
	bottom: 100px;
}
#content_bottom_right #ba1{
	position: relative;
	left: 30px;
}
#content_bottom_right #ba2{
	position: relative;
	left: 30px;
}
#content_bottom_right #ba3{
	position: relative;
	left: 160px;
}
#content_bottom_right2 #lianjie{
	border:1px solid #ede6dc;
	width: 280px;
	height: 150px;
	float:left;
	margin-left: 20px;
	margin-bottom: 100px;
	position: relative;
	bottom: 20px;
	background:#f5f2e9;
}
#content_bottom_right2 #lianjie img{
	margin-left:80px;
}
#content_bottom_right2 #lian_zi a{
	line-height: 30px;
	height: 30px;
	margin-left: 5px;
}
#footer {
	position: relative;
	background:url(../images/foot.gif);
	width:100%;
	margin:0px auto;
	background-position:center;	
	text-align:center;
	height:105px;
	}
#footer #footer_ul{
	position: relative;
	left: 470px;
}
#footer ul li{
	float:left;
}
